$color : #990000;
$grey : #ccc;
$height : 100px;
$red : #dac8c8;
$black : #333;
$black1 : #666;

$confirm: hsla(101, 72%, 37%, 1);  // Green
$warning: #ffc53a;                 // Yellow
$alert: rgb(172, 34, 34);